
<section class="intro__container">
  <div class="headline">Hi, I'm <strong><a href="/about">Janessa</a></strong>.</div>
  <p>
    I am a software engineer.
  </p>

  If you'd like to get to know me more, you can check out some of <a href="/portfolio">my selected works</a> or review <a href="/resume">my professional and academic experience</a>.

  <p>You can also connect with me on
    <a href="https://twitter.com/janessatran_">Twitter</a>,
    <a href="https://linkedin.com/in/janessatran">LinkedIn</a>,
    <a href="https://github.com/janessatran">GitHub</a>, or
    <a href="https://dev.to/janessatran">Dev.to</a>.
  </p>

</section>
