
<section class="intro__container">
  <p>
    Hi, I'm <strong>Janessa</strong>. 
  </p>
  <p>
    I am a software engineer at
      <a href="https://tenforward.consulting/">
        Ten Forward Consulting
      </a>
      where I build web and mobile applications with some pretty awesome people.  
  </p>
  <p>If you'd like to, you can follow me on 
    <a href="https://twitter.com/janessatran_">Twitter</a>,
    <a href="https://linkedin.com/in/janessatran">LinkedIn</a>,
    <a href="https://github.com/janessatran">GitHub</a>, or
    <a href="https://dev.to/janessatran">Dev.to</a>.
  </p>

</section>
