
<section class="section__container">
  <div class="section__title">
    <h1 class="index__title">Education</h1>
  </div>
  <div class="section__content education">
    <div class="job">
      <div class="time-place">
        <div class="place">San Diego State University</div>
        <div class="time">GPA: 3.97 / 4.0</div>
      </div>
      <div class="role">B.A. Quantitative Economics, Minor in Computer Science</div>
    </div>
    <div class="job">
      <div class="time-place">
        <div class="place">Department of Mathematics</div>
        <div class="time"></div>
      </div>
      <div class="role">Research Assistant - Created Python animations visualizing the trajectory of higher-dimensional Lorenz Models.</div>
    </div>
    <div class="job">
      <div class="time-place">
        <div class="place">Department of Economics</div>
        <div class="time"></div>
      </div>
      <div class="role">Research Assistant - Conducted cost-benefit analysis to determine ways to alter transportation choices across SDSU to reduce carbon emissions on campus.</div>
    </div>
  </div>
</section>
