// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #434648;
$text-link-blue: #1e3142;
$text-link-blue-active: #1e3142;
$text-link-red: #862407;

$red: #c42e00;
$pink: #edaa99;
$black: #23253f;
$light: #23253f;
$smoke: #d2c7c7;
$gray: #a5aab0;
$white: #e9e4e2;

// Dark Colors
$dark-text-base-color: #c2ada8;
$dark-text-link-blue: #985050;
$dark-text-link-blue-active: #d08888;

$dark-black: #23253f;
$dark-white: #fceaeb;
$dark-light: #121f3c;
$dark-smoke: #b9b9b9;
$dark-gray: #707070;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "klise/fonts", "klise/base", "klise/layout", "klise/post",
  "klise/miscellaneous", "klise/syntax", "klise/dark";
