/*
    Name:       Base16 Railscasts Light
    Author:     Ryan Bates (http://railscasts.com)
    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
*/
code { background: #f9f7f3; color: #da4939; }
.highlight .hll { background-color: #f4f1ed; }
.highlight  { background: #f9f7f3; color: #2b2b2b; padding: 10px; margin: 10px 0;}
.highlight .c { color: #d4cfc9 } /* Comment */
.highlight .err { color: #da4939 } /* Error */
.highlight .k { color: #b6b3eb } /* Keyword */
.highlight .l { color: #cc7833 } /* Literal */
.highlight .n { color: #da4939 } /* Name */
.highlight .o { color: #2b2b2b } /* Operator */
.highlight .p { color: #2b2b2b } /* Punctuation */
.highlight .cm { color: #5a647e } /* Comment.Multiline */
.highlight .cp { color: #5a647e } /* Comment.Preproc */
.highlight .c1 { color: #5a647e } /* Comment.Single */
.highlight .cs { color: #5a647e } /* Comment.Special */
.highlight .gd { color: #da4939 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #2b2b2b; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #a5c261 } /* Generic.Inserted */
.highlight .gp { color: #d4cfc9; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #519f50; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #b6b3eb } /* Keyword.Constant */
.highlight .kd { color: #b6b3eb } /* Keyword.Declaration */
.highlight .kn { color: #519f50 } /* Keyword.Namespace */
.highlight .kp { color: #6d9cbe } /* Keyword.Pseudo */
.highlight .kr { color: #b6b3eb } /* Keyword.Reserved */
.highlight .kt { color: #ffc66d } /* Keyword.Type */
.highlight .ld { color: #a5c261 } /* Literal.Date */
.highlight .m { color: #cc7833 } /* Literal.Number */
.highlight .s { color: #a5c261 } /* Literal.String */
.highlight .na { color: #6d9cbe } /* Name.Attribute */
.highlight .nb { color: #6d9cbe } /* Name.Builtin */
.highlight .nc { color: #ffc66d } /* Name.Class */
.highlight .no { color: #ffc66d } /* Name.Constant */
.highlight .nd { color: #519f50 } /* Name.Decorator */
.highlight .ni { color: #2b2b2b } /* Name.Entity */
.highlight .ne { color: #da4939 } /* Name.Exception */
.highlight .nf { color: #6d9cbe } /* Name.Function */
.highlight .nl { color: #2b2b2b } /* Name.Label */
.highlight .nn { color: #ffc66d } /* Name.Namespace */
.highlight .nx { color: #6d9cbe } /* Name.Other */
.highlight .py { color: #2b2b2b } /* Name.Property */
.highlight .nt { color: #519f50 } /* Name.Tag */
.highlight .nv { color: #da4939 } /* Name.Variable */
.highlight .ow { color: #519f50 } /* Operator.Word */
.highlight .w { color: #2b2b2b } /* Text.Whitespace */
.highlight .mf { color: #cc7833 } /* Literal.Number.Float */
.highlight .mh { color: #cc7833 } /* Literal.Number.Hex */
.highlight .mi { color: #cc7833 } /* Literal.Number.Integer */
.highlight .mo { color: #cc7833 } /* Literal.Number.Oct */
.highlight .sb { color: #a5c261 } /* Literal.String.Backtick */
.highlight .sc { color: #2b2b2b } /* Literal.String.Char */
.highlight .sd { color: #d4cfc9 } /* Literal.String.Doc */
.highlight .s2 { color: #a5c261 } /* Literal.String.Double */
.highlight .se { color: #cc7833 } /* Literal.String.Escape */
.highlight .sh { color: #a5c261 } /* Literal.String.Heredoc */
.highlight .si { color: #cc7833 } /* Literal.String.Interpol */
.highlight .sx { color: #a5c261 } /* Literal.String.Other */
.highlight .sr { color: #519f50 } /* Literal.String.Regex */
.highlight .s1 { color: #a5c261 } /* Literal.String.Single */
.highlight .ss { color: #a5c261 } /* Literal.String.Symbol */
.highlight .bp { color: #2b2b2b } /* Name.Builtin.Pseudo */
.highlight .vc { color: #da4939 } /* Name.Variable.Class */
.highlight .vg { color: #da4939 } /* Name.Variable.Global */
.highlight .vi { color: #da4939 } /* Name.Variable.Instance */
.highlight .il { color: #cc7833 } /* Literal.Number.Integer.Long */

pre {
  white-space: pre-wrap;
  white-space: moz-pre-wrap; 
  white-space: -pre-wrap;
  white-space: -o-pre-wrap; 
  word-wrap: break-word; 
}