
.intro__container {
  margin-bottom: 100px;
  font-family: "chaparral-pro", serif;
  font-size: 1.2rem;
}

.section__container {
  margin-bottom: 100px;
  display: flex;
  align-content: center;
  font-size: 1rem;
}

.section__title {
  flex-shrink: 0;
  margin-right: 70px;
  width: 200px;
  font-family: "p22-underground", sans-serif;
}

.section__content {
  max-width: 600px;
  width: 100%;
}

.index__title {
  max-width: 200px;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
  letter-spacing: 2px;
}

.job {
  margin-bottom: 30px;
}

.place {
  font-weight: bold;
}

.time-place {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* The emerging W3C standard
   that is currently Firefox-only */
   .highlight {
    scrollbar-width: thin;
    scrollbar-color: rgba(197, 197, 197, 0) #db94b6;
  }
  
  /* Works on Chrome/Edge/Safari */
  .highlight::-webkit-scrollbar {
    width: 12px;
  }
  .highlight::-webkit-scrollbar-track {
    background: rgba(197, 197, 197, 0);
  }
  .highlight::-webkit-scrollbar-thumb {
    background-color: #db94b6;
    border-radius: 20px;
    border: 3px solid #db94b6;
  }

@media all and (max-width:800px) //800px for tablets and phones.
{
  .intro__container, .section__container, .section__title
    {
        display: block; 
        float: none; 
        width: 100%;
    }

    .section__title {
      margin-right: 0;
    }
    .index__title {
      max-width: none;
      text-align: left;
    }

    .time-place {
      display: block;
    }
}